

body {
  background-color:#9ACEF4; 
}
      
h1 {
  color:#AA11B5;
}
    
h2 {
  color:#3B3695; 
}
    
a {
  color:#940D2D;
}
   
nav a {
  color:#FF6F15;
}
       
.byline{
  color:rgba(250,1,0,0.5)
}
        
#page-copyright{
  color:#051777 ;
}