

body {
    background-color:#9ACEF4;   
    font-family: 'Open Sans', sans-serif;
}
      
h1 {
    color:#AA11B5;
    font-family: 'Proza Libre', sans-serif;
    background-image:url("../images/gradient.png");
    background-repeat: repeat-x;
}
    
h2 {
    color:#3B3695; 
    font-family: 'Proza Libre', sans-serif;
    background-image:url("../images/gradient.png");
    background-repeat: repeat-x;
}
    
a {
    color:#940D2D;
    text-decoration: none;
}
   
nav a {
    color:#FF6F15;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: circle;
}
       
.byline{
    color:rgba(250,1,0,0.5);
    font-size: 70%;
}
        
#page-copyright{
    color:#051777 ;
    text-transform: uppercase;
    letter-spacing: 3px;
}

main #useful-links a{
    color:#42B972;
}

.bio p {
    text-indent: 3em;
}

footer {
    text-align: center;
    font-size: 12px;
    margin: 0 0 3em 0;
}

.width-wrap {
    background-color: #7EAEE4;
    border: 1px solid rgba(0,0,0,0.3);
    border-top: none;
    max-width:1024px;
    padding: 0 2em;
    margin: 0 0 3em 0;
    margin-left:auto;
    margin-right: auto;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
}

.mugshot img {
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

h1, h2 {
    background: rgb(255,255,255,0);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(35,174,210,1) 35%, rgba(51,0,235,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2)
}

footer hr{
    width: 50vw;
    min-width: 300px;
    margin: 3em 0 0 2em;
    border-top:3px solid #FF4031;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom:8px dotted #FF4031;
    border-left: none;
    border-right: none;
}